{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row ">
        <div class="col-sm-12 bg-cipher1">
            <div class="form-group">
                <label for="original-text text-white">Your Text:</label>
                <textarea class="form-control" rows="5" id="original-text"></textarea>
            </div>
            <!-- <input class="input-lg" type="text" id="msg"> -->
            {% block radioOptions %} {% endblock radioOptions %}
            <div class="text-center">
                <button class="btn" type="submit" value="encrypt"> Encrypt </button>
                <button class="btn" type="submit" value="decrypt"> Decrypt </button>
            </div>
            <div class="form-group">
                <label for="output">Output: </label>
                <div class="border" id="output" style="height: 100px; padding: 10px; background-color: white;"></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}